<app-navbar></app-navbar>
<div class="container">
  <div class="d-flex mt-5 mb-3">
    <button class="btn btn-success" routerLink="/employee-list/add">
      <b>Add Employee</b>
    </button>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10 col-lg-12 card p-4">
      <div class="bg-light">
        <div class="d-flex input-group">
          <input
            [ngClass]="err.emailError ? 'form-control is-invalid me-2' : 'form-control me-2'"
            type="search"
            [placeholder]="errMsg.errEmailMsg"
            [(ngModel)]="email"
          />
          <input
          [ngClass]="err.groupError ? 'form-control is-invalid me-2' : 'form-control me-2'"
            type="search"
            [placeholder]="errMsg.errGroupMsg"
            [(ngModel)]="group"
          />

          <button class="btn btn-outline-success mx-3" (click)="search()">
            Search
          </button>
          <button class="btn btn-outline-danger" (click)="reset()">
            Reset Filter
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Employee Name</th>
              <th (click)="sort('id')" scope="col">
                Email <i class="fa fa-sort"></i>
              </th>
              <th scope="col">Birt Date</th>
              <th (click)="sort('id')" scope="col">Basic Salary</th>
              <th scope="col">Group</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of employeeList
                  | orderBy: key:reverse
                  | paginate: { itemsPerPage: itemPerPage, currentPage: p }
              "
            >
              <td>{{ item.firstName + " " + item.lastName }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.birtDate }}</td>
              <td>{{ item.basicSalary }}</td>
              <td>{{ item.group }}</td>
              <td>
                <div class="d-flex">
                  <button class="btn btn-info fw-semibold text-light" (click)="goToDetail(item.id)">
                    Detail
                  </button>
                  <button class="btn btn-warning fw-semibold text-light mx-3" (click)="edit()">
                    Edit
                  </button>
                  <button class="btn fw-semibold btn-danger" (click)="delete()">
                    Delete
                  </button>
                </div>
              </td>
            </tr>           
          </tbody>          
        </table>
        <div class="row input-group">
          <div class="col-3">
            <div class="d-flex justify-content-center align-items-center">
              <label>Item Per Page</label>
              <select
                class="form-select form-select-sm mx-2"
                style="height: 32px; width: 3.8rem"
                [(ngModel)]="itemPerPage"
              >
                <option *ngFor="let item of optionPerPageList" value="{{ item }}">
                  {{ item }}
                </option>
              </select>
            </div>          
          </div>
          <div class="col-6">
            <pagination-controls
            (pageChange)="p = $event"
          ></pagination-controls>
          </div>
         
      
        </div>
      </div>
    </div>
  </div>
</div>
