<form #login="ngForm" (ngSubmit)="submit(login)">
  <div class="container">      
    <div class="row justify-content-center align-items-center mh-100">
      <div class="col-sm-10 col-lg-6 card p-4">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input
              class="form-control"
              id="exampleInputEmail1"
              [required]="true"
              [(ngModel)]="username"
              (change)="onChangeUsername(login)"
              name="username"
            />
          <label *ngIf="usernameError && isSubmited" class="text-danger mt-1">{{errUsernameMsg}}</label>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            [required]="true"
            (change)="onChangePassword(login)"
            [(ngModel)]="password"
            name="password"
          />
          <label *ngIf="passwordError && isSubmited" class="text-danger mt-1">{{errPasswordMsg}}</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</form>
